<iframe width="500" height="315" src="https://www.youtube.com/embed/<%= @meme.url %>" frameborder="0" allowfullscreen></iframe>
<h2>Meme Title: <%= @meme.title %></h2>
<h2>Meme Description: <%= @meme.description %></h2>
<h2>Meme genre: <%= @meme.genre %></h2>

<a href="/posts">home</a>